<div class="gymap">
    <div class="gymap-popup-lining" data-dom="lining" data-text-close-confirm="Закрыть редактор ?">
        <a href="javascript:void(0)" data-dom="close"></a>
    </div>

    <div class="gymap-popup-container" data-dom="container">
        <div class="gymap-container" data-dom="app">- загрузка -</div>
    </div>
</div>