<div class="gymap-container-left" data-dom="left">
    <div class="gymap-container-left-binding" data-dom="binding">
        <div class="gymap-component-loading">- загрузка -</div>
    </div>

    <div class="gymap-container-left-second" data-dom="second">
        <div class="gymap-component-loading" data-dom="video-loading">- загрузка -</div>

        <div class="gymap-container-left-controls" data-dom="controls"></div>
        <div class="gymap-container-left-video" data-dom="video"></div>
    </div>
</div>
<div class="gymap-container-right" data-dom="right">
    <div class="gymap-container-right-direction" data-dom="directions">
        <div class="gymap-component-loading">- загрузка -</div>
    </div>

    <div class="gymap-container-right-map" data-dom="map">
        <div class="gymap-component-loading">- загрузка -</div>
    </div>
</div>