<div class="gymap-controls-bar">
    <div>
        <input type="button" value="Добавить" data-dom="action-add"/>
    </div>
    <div>
        <input type="button" value="На весь экран" data-dom="action-fullscreen"/>
        <input type="button" value="Заморозить" data-dom="action-freeze"/>
        <input type="button" value="Клонировать" data-dom="action-sync"/>
    </div>
</div>