<h5>Маршрут</h5>
<div class="gymap-direction-points" data-dom="points"></div>
<div class="gymap-direction-control">
    <a href="javascript:void(0)" data-dom="toggle-settings" data-text-hidden="настройки" data-text-visible="скрыть настройки">настройки</a>
    <a href="javascript:void(0)" data-dom="add-direction">добавить пункт назначения</a>
</div>
<div class="gymap-direction-settings hidden" data-dom="settings">
    <div>
        <input id="gymap-direction-settings-avoid-highways" type="checkbox" data-dom="setting-avoid-highways"/>
        <label for="gymap-direction-settings-avoid-highways">Избегать автомагистралей</label>
    </div>
    <div>
        <input id="gymap-direction-settings-avoid-tolls" type="checkbox" data-dom="setting-avoid-tolls"/>
        <label for="gymap-direction-settings-avoid-tolls">Избегать платных дорог</label>
    </div>
</div>