<div class="gymap-direction-point" data-dom="container" data-text-remove="Удалить пункт назначения ?">
    <span>{{ char }}</span>
    <input type="text" data-index="{{ index }}" value="{{ address }}" data-place-id="{{ place }}" data-place-name="{{ name }}" data-dom="input" autocomplete="off">
    <a href="javascript:void(0)" class="hidden" data-dom="remove"></a>
</div>