<div class="gymap-binding-no-points" data-dom="no-points"> - нет точек привязки - </div>

<div class="gymap-binding-points hidden" data-dom="points-container">
    <div class="gymap-binding-points-flexible">
        <div><h5>Привязка</h5></div>
        <div><h5>Видео</h5></div>
        <div><h5>Карта</h5></div>
    </div>

    <div data-dom="points" data-text-no-places="Пунктов назначения не найдено" data-text-clone-confirm="Действительно клонировать маршрут с карты ?" data-text-clone-confirm-hint="* все предыдущие точки будут удалены"></div>
</div>
